@media only screen and (min-width: 1025px) {
  /* Homepage */
  .exhibition .column-wrap {
    flex-direction: column;
  }
  .exhibition .column {
    flex-direction: row;
    justify-content: space-around;
  }
  .exhibition .box-1,
  .exhibition .box-2,
  .exhibition .box-3 {
    margin: 10px;
  }

  /* ----explore----- */

  .kids {
    height: 900px;
  }
  .kids .flex-wrap,
  .teachers .flex-wrap {
    flex-direction: row;
    justify-content: space-around;
  }
  .kids .images,
  .teachers .images {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .kids .flex-wrap,
  .teachers .flex-wrap {
    height: 800px;
  }

  /* ---- events-page */

  .event-page .event-text h3 {
    margin-top: 20px;
  }

  .visit .card-wrap {
    flex-direction: row;
    justify-content: space-around;
  }
  .visit .card-1,
  .visit .card-2,
  .visit .card-3 {
    width: 30%;
  }
} ;
