@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* NAvbar */

.logo {
  width: 148px;
  height: 78px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlist {
  display: none;
}
.menu .list-item {
  display: inline-block;
}
.menu ul a {
  margin: 0 22px;
  font-size: 20px;
}

.menu-icon .menu-line {
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}

.menu-icon {
  display: none;
}

/* Intro / explore */

.intro {
  margin-top: 30px;
}

.explore {
  margin-top: 30px;
}

.flex-wrap .box-1 h1 {
  margin-left: 10px;
}

.intro .box-2 {
  background-color: #fff5f5;
  height: 450px;
}

.flex-wrap .box-2 p {
  margin-bottom: 40px;
  margin-left: 39px;
  margin-right: 10px;
}

.flex-wrap .box-2 h1 {
  margin-left: 39px;
  font-size: 30px;
}

.flex-wrap .box-2 a {
  margin-left: 39px;
}

.explore .box-2 {
  height: 450px;
  background-color: #d7ffec;
}

/* Exhibition Spaces */

.exhibition {
  margin-top: 90px;
  margin-bottom: 90px;
}

.exhibition h2 {
  text-align: center;
}

.exhibition .box-1,
.exhibition .box-2,
.exhibition .box-3 {
  width: 320px;
  height: 240px;
  margin-top: 47px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
  position: absolute;
  border-radius: 25px;
  z-index: 1;
}

.evolution {
  background: url(../images/mammoth-1257288_1920.jpg) no-repeat center center;
  background-size: cover;
}

.medicine {
  background: url(../images/people-219985_1280.jpg) no-repeat center center;
  background-size: cover;
}

.biology {
  background: url(../images/heart-2607178_1920.jpg) no-repeat center center;
  background-size: cover;
}
.ecology {
  background: url(../images/environmental-protection-326923_1920.jpg) no-repeat
    center center;
  background-size: cover;
}

.cosmology {
  background: url(../images/space-11099_1280.jpg) no-repeat center center;
  background-size: cover;
}

.robotics {
  background: url(../images/technology-4256272_1920.jpg) no-repeat center center;
  background-size: cover;
}

.text-exhibition a {
  font-size: 35px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

/* Events */

.events {
  max-width: 797px;
  margin: 0 auto;
}

.events h2 {
  text-align: center;
  margin-bottom: 70px;
}

.events .box-1,
.events .box-3 {
  width: 100%;
  height: 100%;
  max-width: 570px;
  margin-top: 33px;
  border-radius: 0 25px 25px 0;
}

.events .box-2 {
  width: 100%;
  height: 100%;
  max-width: 570px;
  margin-top: 33px;
  border-radius: 25px 0 0 0;
  margin-left: auto;
}

.events h3 {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.events .box-1 {
  background-color: #0b0607;
}
.events .box-2 {
  background-color: #06d6a0;
}
.events .box-3 {
  background-color: #1e34ff;
}

.events .date-box {
  width: 184px;
  height: 97px;
  background-color: #fff;
  border-radius: 0 25px 0 0;
  margin-top: 91px;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.events .events-date {
  color: #0b0607;
  font-size: 25px;
  margin-top: 31px;
  font-family: "Montserrat", sans-serif;
}

/* Footer */

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff5f5;
  margin-top: 40px;
  max-width: 1240px;
}

.logo-footer {
  height: 78px;
  width: 78px;
}

.logo-footer img {
  width: 100%;
  height: 100%;
}

.menu-footer {
  margin-top: 20px;
}

.footer-nav .icons-footer {
  margin-top: 20px;
  font-size: 35px;
}
