@media only screen and (min-width: 660px) {
  /* Intro & explore */

  .flex-wrap {
    flex-direction: row;
  }

  .intro .box-1,
  .intro .box-2 {
    width: 50%;
  }

  .explore .box-1,
  .explore .box-2 {
    width: 50%;
    height: auto;
  }

  /* Exhibition */

  .exhibition .column-wrap {
    flex-direction: row;
    justify-content: space-around;
  }

  /* Footer */

  .footer-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .icons-footer {
    display: flex;
    flex-direction: column;
  }
  /* ----explore----- */
  .kids,
  .teachers {
    margin: 40px;
  }

  .teachers {
    margin-bottom: 80px;
  }

  .kids .flex-wrap,
  .teachers .flex-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .kids .images,
  .teachers .images {
    flex-direction: row;
  }

  .kids .images .box-1,
  .kids .images .box-2,
  .teachers .images .box-1 {
    margin: 40px;
  }
}
