@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  max-width: 1240px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Buttons */

.btn-primary {
  padding: 15px 40px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #000000;
}

.btn-primary:hover {
  background-color: #000000;
  color: #fff;
  border: none;
}

.cta-events {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 32px;
}

/* text */

.header-big {
  color: #000000;
  font-size: 48px;
}

.header-primary {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 60px;
}

.para-primary {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
}

.header-primary-light {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 60px;
}

.para-primary-light {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
}

/* --- exhibtion text --- */

.exhibition-dark-para {
  color: #000000;
  max-width: 1058px;
  font-size: 1.6rem;
}

.exhibition-light-header {
  color: #fff;
  font-size: 4rem;
  margin-top: 62px;
  margin-left: 20px;
}

/* Links */

.footer li a {
  font-size: 2rem;
}

/* icons */

a i {
  font-size: 5rem;
  margin-right: 30px;
}

/* Intro / explore */

.flex-wrap {
  display: flex;
  flex-direction: column;
}

.flex-wrap img {
  width: 100%;
  height: 100%;
  max-height: 550px;
}

.explore .flex-wrap img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 550px;
}

/* Exhibition */

.exhibition .column-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exhibition .column {
  display: flex;
  flex-direction: column;
}

.column img {
  width: 100%;
  height: 100%;
}

/* ----- Exhibitions ----- */

.exhibition-flex-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exhibition-flex-wrap img {
  width: 100%;
  height: 100%;
}
